body {
  background: #fff;
  font-family: sans-serif;
}

.calculator {
  width: 330px;
  background: #00bbbf;
  margin: 100px auto;
  padding: 10px 15px 40px 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px £e1e1e1;
}

.num {
  width: 300px;
  margin: 5px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
}

.opt {
  font-size: 14px;
  border: none;
  width: 245px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.button {
  background: #ec5055;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #eee;
  font-size: 13px;
  border-bottom: 4px solid #bf203d;
}

.brand {
  color: #eee;
  font-size: 10px;
  float: right;
  text-decoration: none;
  margin: 10px;
}

.title {
  text-align: center;
  color: #eee;
  font-weight: normal;
}
